stages:
    - build
    
build:
    stage: build
    script:
        - chmod +x /usr/bin/ssh
        - mkdir -p ~/.ssh
        - echo -e $BLUEBECKS_KEY > ~/.ssh/id_rsa
        - echo -e $BLUEBECKS_SSH > ~/.ssh/id_rsa.pub
        - chmod 400 ~/.ssh/id_rsa
        - chmod 400 ~/.ssh/id_rsa.pub
        - echo -e "StrictHostKeyChecking=no" > ~/.ssh/config 
        - ssh-add $BLUEBECKS_SSH
        - ssh -P22 -t -t root@144.217.241.43 
        - ls
        - cd /var/www/
        - su www-data -s /bin/bash
        - if [ ! -f citest ]; then
              git clone git@gitlab.com:franko4don/citest.git
          fi

        - if [ -f citest ]; then
              git pull git@gitlab.com:franko4don/citest.git
          fi
        - exit
        - cd /var/www/citest
        - composer install
        - if [ ! -f /home/admin/conf/web/citest.conf ]; then
              cp citest.conf /home/admin/conf/web/citest.conf && service nginx restart && certbot --nginx -d citest.bluebecks.com
          fi
        - exit
        
