stages:
    - build
    
build:
    stage: build
    script:
         # Add the private SSH key to the build environment 
        - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
        - eval $(ssh-agent -s)
        - ssh-add <(echo "$BLUEBECKS_KEY")
        - mkdir -p ~/.ssh
        - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
        - ssh -t -t root@144.217.241.43 
        - ls
        - cd /var/www/
        - su www-data -s /bin/bash
        - if [ ! -f citest ]; then
              git clone git@gitlab.com:franko4don/citest.git
          fi

        - if [ -f citest ]; then
              git pull git@gitlab.com:franko4don/citest.git
          fi
        - exit
        - cd /var/www/citest
        - composer install
        - if [ ! -f /home/admin/conf/web/citest.conf ]; then
              cp citest.conf /home/admin/conf/web/citest.conf && service nginx restart && certbot --nginx -d citest.bluebecks.com
          fi
        - exit
        
